<script>
  import { onMount } from "svelte";
  import Ribbon from "./Ribbon.svelte";
  import { defaultSettings } from "./defaultSettings.js";
  import Settings from "./Settings.svelte";
  import Game from "./Game.svelte";
  import Errors from "./Errors.svelte";
  import WordGenerator from "./WordGenerator.svelte";
  import { fade } from "svelte/transition";
  import { typingStateDefault } from "./typingState.js";
  import TypingStats from "./TypingStats.svelte";
  import StartDictating from "./StartDictating.svelte";
  let typingState = typingStateDefault;
  let board_size = 10;
  let current_index;
  let error_count;
  let trials;
  import Icon from "fa-svelte";
  import {
    faBroadcastTower,
    faChessBoard,
    faCogs,
    faDumbbell,
    faExclamationTriangle,
    faHardHat,
    faHatCowboy,
    faHatWizard,
    faKeyboard,
    faSync,
    faTh,
    faVolumeUp,
  } from "@fortawesome/free-solid-svg-icons";
  import Type from "./Type.svelte";
  import Dictate from "./Dictate.svelte";
  import Tower from "./Tower.svelte";

  let settingsData = defaultSettings["cz"];
  let transitionDone = false;
  let selection = 1;
  let last_selected = 1;
  export let words_to_type = [];

  transitionDone = true;
</script>

<Ribbon url="https://codeberg.org/vanous/typing-generator" height="100px" />
<button
  on:click={() => {
    transitionDone = false;
    if (selection == 0) {
      selection = last_selected;
    } else {
      last_selected = selection;
      selection = 0;
    }
  }}
>
  <Icon class="size" icon={faCogs} /> Settings
</button>

<button
  on:click={(e) => {
    transitionDone = false;
    selection = 1;
    e.target.blur();
  }}
>
  <Icon class="size" icon={faHatWizard} /> Single letters
</button>

<button
  on:click={(e) => {
    transitionDone = false;
    selection = 4;
    e.target.blur();
  }}
>
  <Icon class="size" icon={faHardHat} /> Typing lesson
</button>
<button
  on:click={(e) => {
    transitionDone = false;
    selection = 2;
    e.target.blur();
  }}
>
  <Icon class="size" icon={faHardHat} /> Free typing
</button>

<button
  on:click={(e) => {
    transitionDone = false;
    selection = 5;
    e.target.blur();
  }}
>
  <Icon class="size" icon={faVolumeUp} /> Dictating
</button>

<button
  on:click={(e) => {
    transitionDone = false;
    selection = 3;
    e.target.blur();
  }}
>
  <Icon class="size" icon={faExclamationTriangle} /> Errors
</button>

{#if selection == 1 && transitionDone}
  <div
    transition:fade
    on:outroend={() => {
      transitionDone = true;
    }}
  >
    <Game bind:settingsData bind:typingState />
  </div>
{:else if selection == 2 && transitionDone}
  <div
    transition:fade
    on:outroend={() => {
      transitionDone = true;
    }}
  >
    <Type bind:settingsData bind:words_to_type bind:typingState />
    <WordGenerator bind:words_to_type {settingsData} bind:typingState />
  </div>
{:else if selection == 5 && transitionDone}
  <div
    transition:fade
    on:outroend={() => {
      transitionDone = true;
    }}
  >
    <Dictate bind:settingsData bind:words_to_type bind:typingState />
    <WordGenerator bind:words_to_type {settingsData} bind:typingState />
    <StartDictating bind:words_to_type {settingsData} bind:typingState />
  </div>
{:else if selection == 2 && transitionDone}
  <div
    transition:fade
    on:outroend={() => {
      transitionDone = true;
    }}
  >
    <Type bind:settingsData bind:words_to_type bind:typingState />
    <WordGenerator bind:words_to_type {settingsData} bind:typingState />
  </div>
{:else if selection == 0 && transitionDone}
  <div
    transition:fade
    on:outroend={() => {
      transitionDone = true;
      words_to_type = [];
    }}
  >
    <Settings bind:settingsData />
  </div>
{:else if selection == 3 && transitionDone}
  <div
    transition:fade
    on:outroend={() => {
      transitionDone = true;
    }}
  >
    <Errors {typingState} />
  </div>
{:else if selection == 4 && transitionDone}
  <div
    transition:fade
    on:outroend={() => {
      transitionDone = true;
    }}
  >
    <Tower bind:settingsData bind:typingState />
  </div>
{/if}
<div />
{#if settingsData.showStats}
  <TypingStats {typingState} />
{/if}

<style>
  button :global(.size) {
    vertical-align: middle;
  }
</style>
