<script>
  import { onMount } from "svelte";
  import Typing from "./Typing.svelte";
  import { speak } from "./dictator.js";
  export let typingState;
  export let settingsData;
  export let words_to_type;
  let current_word = false;
  let last_word = false;
  let grouped_chars = [];
  import { groupCharsToWords, getWord } from "./typingUtils.js";
  function dictate(state) {
    console.log("watching typing");
    if (grouped_chars.length) {
      current_word = getWord(grouped_chars, typingState.current_index);
    }
    if (
      typingState.startDictating &&
      current_word &&
      current_word != last_word
    ) {
      speak(current_word, settingsData);
      last_word = current_word;
    }
  }

  $: dictate(typingState);
  $: grouped_chars = groupCharsToWords(words_to_type);

  onMount(() => {
    settingsData.showErrors = true;
    settingsData.showCharacters = false;
    current_word = getWord(grouped_chars, typingState.current_index);
  });
</script>

<Typing bind:settingsData bind:words_to_type bind:typingState />
