<script>
  export let typingState;
</script>

<br />
Failing keys:
<br />
<br />
<div>
  {#each Object.entries(typingState.failingChars) as [key, val]}
    {key} ({val}x),&nbsp;
  {/each}
</div>

<br />
{JSON.stringify(typingState.failedWords)}
