<script>
  import { tweened } from "svelte/motion";
  import { cubicOut } from "svelte/easing";

  export let value;
  export let label;
  export let max;
  export let min = 0;
  export let low = max * 0.3;
  export let high = max * 0.6;
  export let optimum = max / 2;

  const progress = tweened(0, {
    duration: 400,
    easing: cubicOut,
  });
  $: progress.set(value);
</script>

<meter {min} {max} {low} {high} {optimum} value={$progress}> at 50/100 </meter>
<div>
  {label}
</div>

<style>
</style>
