<script>
  import { tweened } from "svelte/motion";
  import { cubicOut } from "svelte/easing";

  export let value;
  export let label;
  export let max;

  const progress = tweened(0, {
    duration: 400,
    easing: cubicOut,
  });
  $: progress.set(value);
</script>

<progress value={$progress} {max}>{label}</progress>

<style>
</style>
