<script>
  import { fade } from "svelte/transition";
  import SettingsCharsSelector from "./SettingCharsSelector.svelte";
  import { defaultSettings } from "./defaultSettings.js";
  export let settingsData;
  let languages = [
    { id: "cz", text: "Czech" },
    { id: "en", text: "English" },
  ];
  let lang = settingsData.wordsLanguage;
  function set_default(lang) {
    console.log("changing lang", lang);
    settingsData = [];
    settingsData = defaultSettings[lang];
  }

  $: set_default(lang);
</script>

<div class="settingscontainer" in:fade>
  <div class="slidecontainer text">
    Language for typing practice words: <select bind:value={lang}>
      {#each languages as language}
        <option value={language.id}>
          {language.text}
        </option>
      {/each}
    </select>
    <br />
    <br />
    Board size:<br />
    <input
      type="range"
      min="3"
      max="20"
      class="slider"
      bind:value={settingsData.boardSize}
    />
    {settingsData.boardSize}x{settingsData.boardSize} ({settingsData.boardSize *
      settingsData.boardSize -
      1})

    <br />
    <br />
    Words count:<br />
    <input
      type="range"
      min="3"
      max="200"
      class="slider"
      bind:value={settingsData.wordsCount}
    />
    {settingsData.wordsCount}
  </div>

  <div>
    <label>
      <input type="checkbox" bind:checked={settingsData.showErrors} /> Show errors</label
    >
    <label>
      <input type="checkbox" bind:checked={settingsData.showCursor} /> Show cursor</label
    >
    <label>
      <input type="checkbox" bind:checked={settingsData.instantDeath} /> Instant
      death</label
    >
    <label>
      <input type="checkbox" bind:checked={settingsData.showStats} /> Show statistics</label
    >
    <label>
      <input type="checkbox" bind:checked={settingsData.showCharacters} /> Show Characters</label
    >
    <label>
      <input type="checkbox" bind:checked={settingsData.showDebug} /> Show Debug</label
    >
  </div>
  <br />
  <div class="charactercontainer text">Use the following characters:</div>
  <br />

  <SettingsCharsSelector bind:chars={settingsData.chars} />
  <br /> <br />
  <SettingsCharsSelector bind:chars={settingsData.accents} />
  <br /> <br />
  <SettingsCharsSelector bind:chars={settingsData.numbers} />
  <br /> <br />
  <SettingsCharsSelector bind:chars={settingsData.other} />
</div>

<style>
  .settingscontainer {
    position: relative;
    border-radius: 5px;
    max-width: 800px;
    margin: auto;
    border: 1px solid #4287f5;
  }
  .rotate {
    animation: rotateY 1s;
  }
  @-webkit-keyframes rotateY {
    0% {
      transform: rotateY(180deg);
    }
  }

  .slider {
    width: 80%;
  }
  .text {
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
  }
  .charactercontainer {
    font-weight: bold;
  }
  textarea {
    width: 98%;
  }
  .value {
    width: 300px;

    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;

    -ms-word-break: break-word;
    word-break: break-word;

    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }
</style>
