<script>
  export let typingState;
  export let settingsData;

  function start() {
    typingState.startDictating = true;
    console.log("start dictating");
  }
</script>

<button on:click={start}>Start dictating</button>

<style></style>
