<script>
  import { onMount } from "svelte";
  import Typing from "./Typing.svelte";
  import Icon from "fa-svelte";
  import Progress from "./Progress.svelte";
  import Meter from "./Meter.svelte";
  export let typingState;
  export let settingsData;
  import {
    faChessBoard,
    faFeather,
    faSkullCrossbones,
  } from "@fortawesome/free-solid-svg-icons";
  import { generate_text } from "./generateTypingWords.js";
  let words_to_type = [];
  let wordsCount = 0;
  let gameTrials = -1;
  let max = 0;

  function increaseCount() {
    wordsCount += 1;
    if (wordsCount > max) {
      max = wordsCount;
    }
  }
  function decreaseCount() {
    wordsCount -= 1;
    if (wordsCount < 0) {
      wordsCount = 0;
    }
  }
  function restart() {
    wordsCount = 0;
    max = 0;
    gameTrials = -1;
    regenerateText();
  }

  function setAwaitEnd() {
    typingState.awaitKey = true;
    typingState.awaitKeyValue = "Enter";
    typingState.awaitKeyConfirmed = false;
  }
  function unsetAwaitEnd() {
    typingState.awaitKey = false;
    typingState.awaitKeyValue = "";
    typingState.awaitKeyConfirmed = false;
  }

  function changeState() {
    if (typingState.awaitKeyConfirmed) {
      unsetAwaitEnd();
      restart();
    }

    if (settingsData.instantDeath && typingState.error_count != 0) {
      setAwaitEnd();
    }

    if (typingState.finished) {
      if (typingState.error_count == 0 && typingState.trials == 1) {
        increaseCount();
        regenerateText();
      } else {
        decreaseCount();
        regenerateText();
      }
    }
  }
  $: changeState(typingState);

  function regenerateText() {
    gameTrials += 1;
    typingState.current_index = 0;
    typingState.finished = false;
    typingState.error_count = 0;
    typingState.trials = 1;
    let settingsDataLocal = { ...settingsData };
    settingsDataLocal.wordsCount = wordsCount + 1;
    words_to_type = generate_text(settingsDataLocal);
    console.log("generating words");
  }
  onMount(() => {
    settingsData.showErrors = true;
    settingsData.showCursor = false;
    settingsData.instantDeath = true;
    unsetAwaitEnd();
    regenerateText();
  });
</script>

<div>
  <div style="vertical-align: middle; width: 100%;">
    <Progress value={wordsCount} max="10" label="Level" />
  </div>
  <div style="display: inline-block;">
    <Typing bind:settingsData {words_to_type} bind:typingState />
  </div>
</div>
<br />
<div
  style="display: inline-block;"
  on:click={() => {
    settingsData.instantDeath = !settingsData.instantDeath;
    restart();
  }}
>
  {#if settingsData.instantDeath}
    <Icon class="thissize" icon={faSkullCrossbones} />
  {:else}
    <Icon class="thissize" icon={faFeather} />
  {/if}
</div>

{#if !settingsData.instantDeath}
  <div style="display: inline-block; vertical-align: middle;">
    <Meter value={gameTrials} label="Trials" max="10" />
  </div>
  <div style="display: inline-block; vertical-align: middle;">
    <Meter value={max} label="Max" />
  </div>
{/if}
{#if typingState.awaitKey}
  <div>
    Press {typingState.awaitKeyValue} to continue.
  </div>
{/if}

<style>
  div :global(.thissize) {
    vertical-align: middle;
    height: 40px;
    width: 40px;
  }
</style>
