<script>
  import Typing from "./Typing.svelte";
  export let typingState;
  export let settingsData;
  export let words_to_type;
</script>

<Typing bind:settingsData bind:words_to_type bind:typingState />
