<script>
  export let settingsData;
  export let grouped_chars = [];

  function showErrors(char) {
    if (settingsData.showErrors) {
      return char.error;
    }
  }
  function showCursor(char) {
    if (settingsData.showCursor) {
      return char.active;
    }
  }
  function showCharacter(char) {
    if (settingsData.showCharacters) {
      return true;
    }
    if (char.typed) {
      return true;
    }
    return false;
  }
</script>

<div
  style="
        background-color: #e4e0d9;
        width: 900px;
        margin: auto;
        word-wrap: break-word;
        padding: 15px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        "
>
  {#each grouped_chars as word}
    <span>
      {#each word as char}
        <span
          class="character"
          class:error={showErrors(char)}
          class:active={showCursor(char)}
          class:visible={showCharacter(char)}
          class:hidden={!showCharacter(char)}
          class:space={char.char == " "}
        >
          {#if char.char != " "}
            {char.char}
          {:else}
            ␣
          {/if}
        </span>
      {/each}
    </span>
  {/each}
</div>

{#if settingsData.showDebug}
  {JSON.stringify(grouped_chars)}
{/if}

<style>
  .character {
    color: black;
    font-family: Ubuntu Mono, Lucida Console, monospace;
    font-size: 19px;
  }
  .space {
    padding: 0px 2px;
    color: lightgray;
  }
  .error {
    background-color: red;
  }
  .active {
    background-color: #000;
    color: white;
  }

  .visible {
    display: inline-block;
  }

  .hidden {
    display: none;
  }

  @keyframes blinkingText {
    50% {
      background-color: white;
      color: black;
    }
  }
</style>
