<script>
  export let settingsData;
</script>

<div>
  <label>
    <input type="checkbox" bind:checked={settingsData.showErrors} /> Show errors</label
  >
  <label>
    <input type="checkbox" bind:checked={settingsData.showCursor} /> Show cursor</label
  >
  <label>
    <input type="checkbox" bind:checked={settingsData.instantDeath} /> Instant death</label
  >
</div>

<style></style>
