<script>
  import { generate_text } from "./generateTypingWords.js";
  export let typingState;
  export let words_to_type = [];
  export let settingsData;

  function generate() {
    typingState.current_index = 0;
    typingState.error_count = 0;
    typingState.trials = 1;
    typingState.startDictating = false;
    words_to_type = generate_text(settingsData);

    console.log("generating words");
  }
  function generate_from_failed_words() {
    typingState.current_index = 0;
    typingState.error_count = 0;
    typingState.trials = 1;
    typingState.startDictating = false;
    words_to_type = generate_text(settingsData, typingState.failedWords);

    typingState.failedWords = [];
    console.log("generating words");
  }
</script>

<button on:click={generate}>Generate</button>
{#if typingState.failedWords.length > 0}
  <button on:click={generate_from_failed_words}>Use failing words</button>
{/if}

<style></style>
